*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
}

*::selection{
    color: crimson;
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main{
    width: 100vw;
    height: auto;
    background-color: black;
    overflow: hidden;
}

.main .navbar{
    width: 100vw;
    height: 9vh;
    position: relative;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 99;
}

.navbar .left{
    position: absolute;
    width: fit-content;
    left: 2vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navbar .center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    gap: 2vw;
}

.navbar .center p{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.navbar .menuLogo{
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  font-size: 35px;
  right: 0;
  margin-right: 2vw;
  gap: 3vw;
}

.navbar .menuLogo i{
  cursor: pointer;
  position: relative;
}

.navbar .searchField{
  position: absolute;
  width: auto;
  top: -60%;
  opacity: 0;
  transition: all ease 0.3s;
}

.navbar .searchField input{
  position: relative;
  width: 40vw;
  height: 5vh;
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 0 25px;
  font-size: 20px;
}

.navbar .right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 2vw;
    width: fit-content;
    gap: 1vw;
}

.navbar .right p{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.6vh 0.8vw;
    border-radius: 3px;
    border: 1px solid black;
}

.navbar .right .signUpBtn{
    background-color: black;
    color: crimson;
}

.main .sideMenu{
  position: absolute;
  background-color: rgba(220, 20, 60, 0.75);
  backdrop-filter: blur(10px);
  height: calc(100vh - 9vh);
  z-index: 99;
  bottom: 0;
  right: 0;
  padding: 5vw;
  box-shadow: 1px 1px 10px black;
  transition: all ease 0.5s;
  opacity: 0;
}

.sideMenu > p{
  font-size: 25px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 2vh;
}

.sideMenu .shopMenu{
  background-color: rgb(220, 40, 70);
  border-radius: 7px;
  margin-bottom: 2vh;
  transition: all ease 0.35s;
  padding: 1vw 5vw;
  display: none;
}

.shopMenu p{
  font-size: 25px;
  cursor: pointer;
}

.shopMenu p:not(:last-child){
  margin-bottom: 1.5vh;
}

.main .dropdown{
    width: 100vw;
    height: 28vh;
    background-color: rgb(111, 111, 111);
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding: 2vh 0;
    opacity: 0;
    transition: all ease 0.35s;
    z-index: 10;
}

.dropdown .section{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: relative;
}

.dropdown .section h4{
    font-size: 18px;
    font-weight: 500;
}

.dropdown .section p{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.dropdown h4{
    font-size: 18px;
    font-weight: 400;
}

.main .content{
    position: relative;
    height: calc(100vh - 9vh);
}

.imageSlider {
  width: 100vw;
  height: calc(100vh - 9vh);
  position: relative;
  background-color: rgb(100, 0, 0);
}

.mySlides{
  background-color: black;
  width: 100vw;
  height: calc(100vh - 9vh);
  overflow: hidden;
}

.mySlides img{
  width: 100vw;
  height: calc(100vh - 9vh);
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 3vh 0.8vw;
  color: white;
  font-size: 1vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots{
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -2.5vh;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 0.3vw;
  background-color: #bbb;
  border-radius: 50%;
  transition: all ease 0.6s;
}

.active, .dot:hover {
  background-color: #a1a1a1;
  scale: 1.5;
  transition:all ease 0.3s;
}

.content{
  transition: all ease 0.3s;
}

.content .displayItems{
  width: 100vw;
  height: 100vh;
  background-color: rgb(100, 100, 100);
  position: relative;
  padding: 2.5vh 0;
}

.displayItems .itemCard{
  width: 100vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}

.itemCard .card{
  width: 22em;
  height: 80%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card .image{
  object-fit: cover;
  width: 100%;
  height: 85%;
  background-color: red;
  scale: 1;
}

.card .image button{
  position: absolute;
  padding: 1vh 1.5vw;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border: none;
  width: fit-content;
  cursor: pointer;
  top: 50%;
  transform: translateX(80%);
  display: none;
}

.card:hover button{
  display: block;
}

.card .image img{
  object-fit: cover;
  width: 100%;
  transition: all ease 0.3s;
}

.card:hover img{
  filter: brightness(50%);
  scale: 1.05;
}

.card .details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 15%;
  padding: 0 2vw;
  position: relative;
}

.details h4, p{
  font-size: 1vw;
}

@media (max-width: 500px){
  .navbar .center{
    display: none;
  }

  .navbar .right{
    display: none;
  }

  .navbar .menuLogo{
    opacity: 1;
  }

  .navbar .searchField{
    top: auto;
    opacity: 1;
  }
  .main .dropdown{
    display: none;
    width: 100vw;
  }
}