*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
}

*::selection{
    color: crimson;
    background-color: black;
}

html, body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.main{
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}

.main .navbar{
    width: 100vw;
    height: 9vh;
    position: relative;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 99;
}

.navbar .left{
    position: absolute;
    width: fit-content;
    left: 2vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navbar .center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    gap: 2vw;
}

.navbar .center p{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.navbar .right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 2vw;
    width: fit-content;
    gap: 1vw;
}

.navbar .right p{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.6vh 0.8vw;
    border-radius: 3px;
    border: 1px solid black;
}

.navbar .right .signUpBtn{
    background-color: black;
    color: crimson;
}

.main .dropdown{
    width: 100vw;
    height: 28vh;
    background-color: rgb(111, 111, 111);
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding: 2vh 0;
    opacity: 0;
    transition: all ease 0.2s;
    z-index: 10;
}

.dropdown .section{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.dropdown .section h4{
    font-size: 18px;
    font-weight: 500;
}

.dropdown .section p{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.dropdown h4{
    font-size: 18px;
    font-weight: 400;
}

.main .content{
    position: relative;
    height: calc(100vh - 9vh);
}

.imageSlider {
  width: 100vw;
  height: calc(100vh - 9vh);
  position: relative;
  transition: all ease 0.5s;
  background-color: rgb(105, 0, 0);
}

.mySlides{
  background-color: black;
  width: 100vw;
  height: calc(100vh - 9vh);
  overflow: hidden;
}

.mySlides img{
  width: 100%;
  object-fit: center;
  margin-top: -30vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 3vh 0.8vw;
  color: white;
  font-size: 1vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots{
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -2.5vh;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 0.3vw;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  scale: 1.5;
  transition:all ease 0.3s;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}